/***************
MOBILE FIRST
***************/
/*SMARTPHONE*/
@media (max-width: 480px) {
  /*****ESTILOS GENERALES*****/

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Merienda-One";
  }
  @font-face {
    font-family: Merienda-One;
    src: url("../font/MeriendaOne-Regular.ttf");
  }
  /*****PROPIEDADES HEADER*****/

  header {
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 30px;
    color: rgb(80, 69, 69);
    font-size: 5mm;
    background-image: url(../img/imagpri.jpeg);
    background-size: cover;
  }
  header a {
    padding: 7px;
    padding-top: 2px;
  }
  #navegacion {
    padding-top: 10px;
  }
  #registro {
    padding-top: 20px;
    text-align: end;
    font-size: 5mm;
  }

  header li {
    display: inline-block;
  }
  a {
    text-decoration: none;
    color: white;
    border: solid 2px white;
    background-color: turquoise;
    border-radius: 80px;
    text-align: center;
    font-size: 4mm;
  }
  footer a {
    background: transparent;
    color: rgb(80, 69, 69);
    border: none;
  }
  /*****PROPIEDADES BODY*****/

  body {
    width: 100%;
    height: 100vh;
    background: rgb(141, 135, 135);
    color: white;
  }
  #imagen img {
    width: 200px;
    margin-left: 30%;
    border: 1px solid turquoise;
  }
  #contenido img {
    width: 280px;
    margin: 10px;
    border: solid 3px turquoise;
  }
  #pulseras img {
    width: 280px;
    margin: 10px;
    border: solid 3px turquoise;
  }
  #collares img {
    width: 280px;
    margin: 10px;
    border: solid 3px turquoise;
  }
  #gasparines img {
    width: 280px;
    margin: 10px;
    border: solid 3px turquoise;
  }
  #presentacion {
    margin-left: 15px;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 20px;
    font-size: 5mm;
    text-align: justify;
    display: inline-block;
    margin-bottom: 60px;
  }
  .text-bold {
    font-weight: bold;
  }
  article {
    text-align: center;
    font-size: 8mm;
    margin-bottom: 100px;
  }
  section h1 {
    font-size: 8mm;
  }
  article h2 {
    font-size: 8mm;
    text-decoration: none;
  }
  footer span {
    padding-top: 35px;
    padding-left: 25px;
    padding-right: 25px;
  }
  .productos {
    padding: 15px;
  }
  /********************** GRIDS POR AEREA INDEX*************/
  #grid-area {
    display: grid;
    grid-template-areas: "header header" "imagen imagen" "presentacion presentacion" "contenido contenido" "footer footer";
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 3fr 3fr;
    grid-column-gap: 0;
    grid-row-gap: 5px;
  }
  /****** NOMBRE DE CADA AREA INDEX*******/
  header {
    grid-area: header;
  }
  footer {
    grid-area: footer;
    text-align: center;
    background-image: url(../img/imagpri.jpeg);
    background-size: cover;
    color: rgb(80, 69, 69);
  }
  #listado {
    display: flex;
  }
  #registro {
    grid-area: registro;
    text-align: center;
  }
  #navegacion {
    grid-area: registro;
    text-align: center;
  }
  #imagen {
    grid-area: imagen;
  }
  #presentacion {
    grid-area: presentacion;
  }
  #contenido {
    grid-area: contenido;
    text-align: center;
  }
  /*GRIDS PRODUCTOS*/

  #grid-areaproducto {
    display: grid;
    grid-template-areas: "header header" "lateral lateral" "collares collares" "pulseras pulseras" "gasparines gasparines" "footer footer";
    grid-template-columns: 50% 50%;
    grid-template-rows: 3fr 10FR 10fr 10fr 10fr;
  }

  /* NOMBRE DE CADA AREA PRODUCTOS */
  #inicioproducto {
    grid-area: header;
  }
  #footerproducto {
    grid-area: footer;
  }
  #pulseras {
    grid-area: pulseras;
    text-align: center;
    padding-top: 20px;
  }
  #collares {
    grid-area: collares;
    text-align: center;
    padding-top: 20px;
  }
  #gasparines {
    grid-area: gasparines;
    text-align: center;
    padding-top: 20px;
  }
  #listado {
    grid-area: nav;
    margin: 10px;
  }
  aside a {
    grid-area: lateral;
  }
  .border {
    text-decoration: none;
    border: none;
  }
  span a {
    border: solid;
    font-size: big;
    display: inline-block;
    margin: 10px;
    padding-right: 30px;
    padding-left: 30px;
    text-align: center;
  }
  span a:hover {
    background: turquoise;
  }
}

/*TABLET*/
@media (min-width: 481px) and (max-width: 1023px) {
  /*****ESTILOS GENERALES*****/

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Merienda-One";
  }
  @font-face {
    font-family: Merienda-One;
    src: url("../font/MeriendaOne-Regular.ttf");
  }
  /*****PROPIEDADES HEADER*****/

  header {
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 30px;
    color: rgb(80, 69, 69);
    font-size: 5mm;
    background-image: url(../img/imagpri.jpeg);
    background-size: cover;
  }
  header a {
    padding: 7px;
    padding-top: 2px;
  }
  #navegacion {
    padding-top: 10px;
  }
  #registro {
    padding-top: 20px;
    text-align: end;
    font-size: 5mm;
  }

  header li {
    display: inline-block;
  }
  a {
    text-decoration: none;
    color: white;
    border: solid 2px white;
    background-color: turquoise;
    border-radius: 80px;
    text-align: center;
    font-size: 8mm;
  }
  footer a {
    background: transparent;
    color: rgb(80, 69, 69);
    border: none;
  }
  /*****PROPIEDADES BODY*****/

  body {
    width: 100%;
    height: 100vh;
    background: rgb(141, 135, 135);
    color: white;
  }
  #imagen img {
    width: 200px;
    margin-left: 30%;
    border: 1px solid turquoise;
  }
  #contenido img {
    width: 280px;
    margin: 10px;
    border: solid 3px turquoise;
  }
  #pulseras img {
    width: 280px;
    margin: 10px;
    border: solid 3px turquoise;
  }
  #collares img {
    width: 280px;
    margin: 10px;
    border: solid 3px turquoise;
  }
  #gasparines img {
    width: 280px;
    margin: 10px;
    border: solid 3px turquoise;
  }
  #presentacion {
    margin-left: 15px;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 20px;
    font-size: 5mm;
    text-align: justify;
    display: inline-block;
    margin-bottom: 60px;
  }
  .text-bold {
    font-weight: bold;
  }
  article {
    text-align: center;
    font-size: 8mm;
    margin-bottom: 100px;
  }
  section h1 {
    font-size: 8mm;
  }
  article h2 {
    font-size: 8mm;
    text-decoration: none;
  }
  footer span {
    padding-top: 35px;
    padding-left: 25px;
    padding-right: 25px;
  }
  .productos {
    padding: 15px;
  }
  /********************** GRIDS POR AEREA INDEX*************/
  #grid-area {
    display: grid;
    grid-template-areas: "header header" "imagen imagen" "presentacion presentacion" "contenido contenido" "footer footer";
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 3fr 3fr;
    grid-column-gap: 0;
    grid-row-gap: 5px;
  }
  /****** NOMBRE DE CADA AREA INDEX*******/
  header {
    grid-area: header;
  }
  footer {
    grid-area: footer;
    text-align: center;
    background-image: url(../img/imagpri.jpeg);
    background-size: cover;
    color: rgb(80, 69, 69);
  }
  #listado {
    display: flex;
  }
  #registro {
    grid-area: registro;
    text-align: center;
  }
  #navegacion {
    grid-area: registro;
    text-align: center;
  }
  #imagen {
    grid-area: imagen;
  }
  #presentacion {
    grid-area: presentacion;
  }
  #contenido {
    grid-area: contenido;
    text-align: center;
  }
  /*GRIDS PRODUCTOS*/

  #grid-areaproducto {
    display: grid;
    grid-template-areas: "header header" "lateral lateral" "collares collares" "pulseras pulseras" "gasparines gasparines" "footer footer";
    grid-template-columns: 50% 50%;
    grid-template-rows: 3fr 10FR 10fr 10fr 10fr;
  }

  /* NOMBRE DE CADA AREA PRODUCTOS */
  #inicioproducto {
    grid-area: header;
  }
  #footerproducto {
    grid-area: footer;
  }
  #pulseras {
    grid-area: pulseras;
    text-align: center;
    padding-top: 20px;
  }
  #collares {
    grid-area: collares;
    text-align: center;
    padding-top: 20px;
  }
  #gasparines {
    grid-area: gasparines;
    text-align: center;
    padding-top: 20px;
  }
  #listado {
    grid-area: nav;
    margin: 10px;
  }
  aside a {
    grid-area: lateral;
  }
  .border {
    text-decoration: none;
    border: none;
  }
  span a {
    border: solid;
    font-size: big;
    display: inline-block;
    margin: 10px;
    padding-right: 30px;
    padding-left: 30px;
    text-align: center;
  }
  span a:hover {
    background: turquoise;
  }
}

/*DESKTOP*/
@media (min-width: 1024px) {
  /*****ESTILOS GENERALES*****/

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Merienda-One";
  }
  @font-face {
    font-family: Merienda-One;
    src: url("../font/MeriendaOne-Regular.ttf");
  }
  /*****PROPIEDADES HEADER*****/

  header {
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 30px;
    color: rgb(80, 69, 69);
    font-size: 5mm;
    background-image: url(../img/imagpri.jpeg);
    background-size: cover;
  }
  header a {
    padding: 7px;
    padding-top: 2px;
  }
  #navegacion {
    padding-top: 10px;
  }
  #registro {
    padding-top: 20px;
    text-align: end;
    font-size: 5mm;
  }

  header li {
    display: inline;
  }
  a {
    text-decoration: none;
    color: white;
    border: solid 2px white;
    background-color: transparent;
    border-radius: 80px;
    text-align: center;
    font-size: 5mm;
  }
  .container:hover ul li a {
    background: transparent;
  }
  .container ul li a:hover {
    color: #fff;
    transform: scale (2);
    background: turquoise;
    border: 1px solid turquoise;
  }
  footer a {
    background: transparent;
    color: rgb(80, 69, 69);
    border: none;
  }
  /*****PROPIEDADES BODY*****/

  body {
    width: 100%;
    height: 100vh;
    background: rgb(141, 135, 135);
    color: white;
  }

  img {
    width: 250px;
    height: 350px;
    margin: 10px;
    border: solid 3px turquoise;
  }
  #presentacion {
    margin-left: 15px;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 20px;
    font-size: 5vh;
    text-align: justify;
  }
  .text-bold {
    font-weight: bold;
  }
  article {
    text-align: center;
    font-size: 8mm;
    margin-bottom: 100px;
  }
  section h1 {
    font-size: 12mm;
  }
  article h2 {
    font-size: 10mm;
    text-decoration: none;
  }
  footer span {
    padding-top: 35px;
    padding-left: 25px;
    padding-right: 25px;
  }
  .productos {
    padding: 15px;
  }
  /********************** GRIDS POR AEREA INDEX*************/
  #grid-area {
    display: grid;
    grid-template-areas: "header header header" "imagen presentacion presentacion" "contenido contenido contenido" "footer footer footer";
    grid-template-columns: 20% auto 25%;
    grid-template-rows: 1fr 3fr 3fr 4fr;
    grid-column-gap: 0;
    grid-row-gap: 5px;
  }
  /****** NOMBRE DE CADA AREA INDEX*******/
  header {
    grid-area: header;
  }
  footer {
    grid-area: footer;
    text-align: center;
    background-image: url(../img/imagpri.jpeg);
    background-size: cover;
    color: rgb(80, 69, 69);
  }
  #registro {
    grid-area: registro;
  }
  #imagen {
    grid-area: imagen;
  }
  #presentacion {
    grid-area: presentacion;
  }
  #contenido {
    grid-area: contenido;
    text-align: center;
  }
  /*GRIDS PRODUCTOS*/

  #grid-areaproducto {
    display: grid;
    grid-template-areas: "header header header" "lateral collares collares" "lateral pulseras pulseras" "lateral gasparines gasparines" "footer footer footer";
    grid-template-columns: 10% auto;
    grid-template-rows: 3fr 10FR 10fr 10fr 10fr;
  }

  /* NOMBRE DE CADA AREA PRODUCTOS */
  #inicioproducto {
    grid-area: header;
  }
  #footerproducto {
    grid-area: footer;
  }
  #pulseras {
    grid-area: pulseras;
    text-align: center;
    padding-top: 20px;
  }
  #collares {
    grid-area: collares;
    text-align: center;
    padding-top: 20px;
  }
  #gasparines {
    grid-area: gasparines;
    text-align: center;
    padding-top: 20px;
  }
  #listado {
    grid-area: nav;
    margin: 10px;
  }
  aside a {
    grid-area: lateral;
  }
  .border {
    text-decoration: none;
    border: none;
  }
  span a {
    border: solid;
    font-size: big;
    display: inline-block;
    margin: 10px;
    padding-right: 30px;
    padding-left: 30px;
    text-align: center;
  }
  span a:hover {
    background: turquoise;
  }
}
