header {
  background-image: url(../img/imagpri.jpeg);
  background-size: cover;
}
@font-face {
  font-family: "meriendaone";
  src: url("../font/meriendaone-regular.ttf");
}
* {
  font-family: "meriendaone";
}
header h1,
h2 {
  padding-left: 15px;
}
.contorno {
  border: solid 3px turquoise;
}
.transicion {
  transition: all 1s;
}
.transicion:hover {
  width: 50%;
  height: 56%;
  background-color: turquoise;
  border: solid 3px turquoise;
}
.transicion2 {
  transition: all 1s;
}
.transicion2:hover {
  width: 100%;
  background-color: turquoise;
  border: solid 3px turquoise;
}
.transicion3 {
  transition: all 1s;
}
.transicion3:hover {
  width: 100%;
  background-color: turquoise;
  color: white;
  border: solid 3px turquoise;
}
body,
main,
header,
footer {
  font-family: "meriendaone";
}
